<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Iniciar sesion</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item>
      <ion-label position="floating"> Correo electronico</ion-label>
      <ion-input type="email"[(ngModel)]="email"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Contraseña</ion-label>
      <ion-input type="password"[(ngModel)]="password"></ion-input>
    </ion-item>
    <ion-button expand="full" (click)="login()">Iniciar sesion</ion-button>
    <div class="text-center">
      ¿No tienes una cuenta? <a routerlink="/registro">Registrate aqui</a>
    </div>
</ion-content>
