<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Registro de usuario</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
<ion-item>
  <ion-label position="floating">Nombre</ion-label>
  <ion-input type="text"[(ngModel)]="nombre"></ion-input>
</ion-item>
<ion-item>
  <ion-label position="floating">Correo</ion-label>
  <ion-input type="email"[(ngModel)]="nombre"></ion-input>
</ion-item>
<ion-item>
  <ion-label position="floating">Contraseña</ion-label>
  <ion-input type="password"[(ngModel)]="password"></ion-input>
</ion-item>

<ion-button expand="full" (click)="registro()">Registrarse</ion-button>
<div class="text-center">
  ¿Ya tienes cuenta? <a routerlink="/login">Inicia sesion aqui</a>
</div>
</ion-content>